.footer{
    position: relative;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    height: 2vh;
    background-color: rgba(236, 236, 125, 0.5);
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}