:host {
  display: block;
  width: 100%;

  /* plus besoin de height ici, la carte est en fixed */
}

/* Conteneur global (surtout utile pour l’UI) */
.map {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Carte OpenLayers : en arrière-plan, plein écran, sous header/footer */
.map-base {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  bottom: -50px;  // comme tu avais avant
  z-index: 0;
  pointer-events: auto;  // la carte reçoit les clics
}

/* UI par-dessus la carte, mais qui laisse passer les clics sauf sur les éléments interactifs */
.map-ui {
  position: relative;
  height: 100%;
  border: 1px solid red;
  inset: 0;
  z-index: 1;
  pointer-events: none;   // laisse passer vers la carte par défaut

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
}

/* Ce qui doit être cliquable repasse en pointer-events:auto */
.btn,
app-menu-drawer {
  pointer-events: auto;
}
