:host {
  display: block;
  width: 100%;

}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-base {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  bottom: -50px; 
  z-index: 0;
  pointer-events: auto;  // la carte reçoit les clics
}

.map-ui {
  position: relative;
  height: 100%;
  border: 1px solid red;
  inset: 0;
  z-index: 1;
  pointer-events: none;   // laisse passer vers la carte par défaut

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
}

.btn,
app-menu-drawer {
  pointer-events: auto;
}
