:host {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column; 
    background-color: rgb(179, 177, 177);
}

.main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    position: relative;
}
