:host { // All page
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-color: rgb(141, 140, 140);
}

.main{
    flex: 1;
    display: flex;
    justify-content: center;

    border: 1px solid black;
    position: relative;
}

