.header{
    background-color: rgba(197, 139, 5, 0.75);
    margin: 2px;
    border-radius: 10px;
    padding: 15px;
    height: 2vh;
    border: 1px solid black;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}
.logo{ //TODO width 100px -> need to be changed
    position: absolute;
    left: 15px;
}
.center {
    display: flex;
    gap: 5px;
}
.right{
    position: absolute;
    right: 15px;
}

