.home {
    width: 90%;
    background-color: rgba(192, 243, 9, 0.36);

    margin: 2px;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}