<aside class="drawer-left">
    <div>
        Spot
        @if(routePoints().start) {
            <p>Lat : {{ routePoints().start!.lat }}<br>
            Lon : {{ routePoints().start!.lon }}</p>
        }
        @if(routePoints().end) {
            <p>Lat : {{ routePoints().end!.lat }}<br>
            Lon : {{ routePoints().end!.lon }}</p>
        }
    </div>
    <div>
        <div class="trackInfo">
            Track
            
            @if(track()){
                <p>Distance : {{track()?.Distance}}</p>
                <p>Descent : {{track()?.Descent}}</p>
                <p>Ascent : {{track()?.Ascent}}</p>
                <p>Start point : {{startPoint()?.lon}}, {{startPoint()?.lat}}</p>
                <p>End point : {{endPoint()?.lon}}, {{endPoint()?.lat}}</p>
    
            }
        </div>

        <div class="TrackButtons">
            <div>
                <button (click)="handleGenerateTrack()">GetTrack</button>
            </div>
            <div>
                <button (click)="handleCreateTrack()">Save track</button>
            </div>
            <div>
                <button (click)="handleCreateTrack()" disabled> Download GPX </button>
            </div>
        </div>
    </div>
    
    <div>
        Autre..
    </div>
    
    <button class="btn-close" (click)="handleClick()">Close</button>
</aside>


