<aside class="drawer-left">
    <div>
        Spot
        @if(routePoints().start) {
            <p>Lat : {{ routePoints().start!.lat }}<br>
            Lon : {{ routePoints().start!.lon }}</p>
        }
        @if(routePoints().end) {
            <p>Lat : {{ routePoints().end!.lat }}<br>
            Lon : {{ routePoints().end!.lon }}</p>
        }
    </div>
    <div>
        Track
    </div>
    <div>
        <button (click)="handleGenerateTrack()">Create track</button>
    </div>
    <div>
        Autre..
    </div>
    <div>
        <button (click)="handleGenerateTrack()">GetTrack</button>
    </div>
    <button class="btn-close" (click)="handleClick()">Close</button>
</aside>


