
@import 'ol/ol.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.ol-attribution.ol-control {
  top: auto;
  left: auto;
  right: 5rem;
  bottom: 7.5rem;
}